################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug
/x64/Debug
/.vs/OPCDAClientSync/v16
/OPCDAClientSync.vcxproj.user
/Release
/x64/Release
